*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(13, 177, 227);

}

.nav-bar h1{
    color: rgb(64, 154, 193);
    text-align: center;
    
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a:hoverr{
    color: #222;
}

.index-page{
    background: linear-gradient(to right , #ff9a9e , #fad0c4);
}

.menu-page{
 background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.drinks{
background: linear-gradient(to right,#89f7fe,#66a6ff );
}

.reservations{
background: linear-gradient(to right, #fddb92,#d1fdff );
}