*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(171, 63, 190);

}

.nav-bar h1{
    color: rgb(62, 23, 167);
    text-align: center;
    
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}


.nav-links a:hover{
    color: #222;;
}

.index-page{
    background: linear-gradient(to right , #ff9a9e , #fad0c4);
}

.menu-page{
 background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.drink{
background: linear-gradient(135deg,#43e97b, #38f9d7);
}

.reservations{
background: linear-gradient(to right, #fddb92,#d1fdff );
}

.food-menu,
.drink-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;

}

.food-item,
.drink-items{
    background: white;
    width: 280px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
   box-shadow: 0 8px 20px rgba(0,0,0,0.15);
   transition: 0.3s ease;
}

.food-item:hover,
.drink-items:hover{
    transform: translateY(-10px);
}


.food-item img,
.drink-items img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .nav-links{
        flex-direction: column;
    }

    .food-menu,
    .drink-menu {
        flex-direction: column;
        align-items: center;
    }

    .food-menu,
    .drink-menu {
        width: 90%;
    }
}

h2{
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    letter-spacing: 1px;
}

.index-page h2{
    color: #ffffff;
}

.menu-page h2{
    color: #6a0572;
}

.drink h2 {
    color: #004e92;
}

.reservations h2 {
    color: #b76e79;
}

.welcome{
    text-align: center;
    padding: 60px 20px;
    color: rgb(15, 15, 15);
}

.welcome img{
    width: 60%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.about-us{
    text-align: center;
    padding: 40px;
    color: #333;
}

.about-us img{
    width: 60%;
    margin-top: 20px;
    border-radius: 20px;
}

footer{
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.reservations-form{
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.reservations-form h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

.reservations-form input,
.reservations-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.reservations-form textarea {
    resize: none;
    height: 80px;
}



.btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background-color: #ff69b4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e754a6;
}