*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(171, 63, 190);

}

.nav-bar h1{
    color: rgb(62, 23, 167);
    text-align: center;
    
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}


.nav-links a:hover{
    color: #222;;
}

.index-page{
    background: linear-gradient(to right , #ff9a9e , #fad0c4);
}

.menu-page{
 background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.drink{
background: linear-gradient(to right,#d43dc5,#db5a5a );
}

.reservations{
background: linear-gradient(to right, #fddb92,#d1fdff );
}

.food-menu,
.drink-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    width: 90%;
}

.food-item,
.drink-items{
    background: white;
    width: 90%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
   box-shadow: 0 8px 20px rgba(0,0,0,0.15);
   transition: 0.3s ease;
}

.food-item:hover,
.drink-items:hover{
    transform: translateY(-10px);
}


.food-item img,
.drink-items img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .nav-links{
        flex-direction: column;
    }

    .food-menu,
    .drink-menu {
        flex-direction: column;
        align-items: center;
    }

    .food-menu,
    .drink-menu {
        width: 90%;
    }
}

h2{
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    letter-spacing: 1px;
}

.index-page h2{
    color: #ffffff;
}

.menu-page h2{
    color: #6a0572;
}

.drink h2 {
    color: #004e92;
}

.reservations h2 {
    color: #b76e79;
}

